---
---

@import "{{ site.theme }}";

$dark-red: #891903 !default;                                                    
$light-brown: #f9b270 !default;

.site-header {                                                                  
  border-top: 5px solid $dark-red;                                              
  border-bottom: 1px solid $grey-color-light;                                   
  min-height: 56px;                                                             
                                                                                
  // Positioning context for the mobile navigation icon                         
  position: relative;                                                           
}           

#head_img {
    display:block;
    position: relative;
    width: 100%;
    height: 80vh;
    max-height: 720px;
    background: url("/assets/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: visible;
} 
