---
---

@import "{{ site.theme }}";

$dark-red: #891903 !default;                                                    
$light-brown: #f9b270 !default;

.social-media-list li {
    display: block;
    float: left;
    padding: 5px;
}

.social-media-list li img {
    width: 32px;
    height: 32px;
}

.social-media-list li svg {
    width: 32px;
    height: 32px;
}

.site-header {                                                                  
  border-top: 5px solid $dark-red;                                              
  border-bottom: 1px solid $grey-color-light;                                   
  min-height: 56px;                                                             
                                                                                
  // Positioning context for the mobile navigation icon                         
  position: relative;                                                           
}           

#head_img {
    display:block;
    position: relative;
    width: 100%;
    height: 60vh;
    max-height: 720px;
    background: url("/assets/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
} 

#banner-strip {
    background-color: $dark-red;
    opacity: 0.8;
    height:70px;
    bottom:0;
    left:0;
    position: absolute;
    width: 100%;
}


#banner-title {
    color: $light-brown;
    font-size: 3em;
    margin: 0;
    position: absolute;
    bottom: 5px;
    left: 35%;
    white-space: nowrap;
}
#banner-subtitle {
    color: white;
    font-size: 1em;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 36%;
    white-space: nowrap;

}
