---
---

@import "{{ site.theme }}";

$dark-red: #891903 !default;                                                    
$light-brown: #f9b270 !default;

.social-media-list li {
    display: block;
    float: left;
    padding: 5px;
}

.social-media-list li img {
    width: 32px;
    height: 32px;
}

.social-media-list li svg {
    width: 32px;
    height: 32px;
}

.site-header {                                                                  
  border-top: 2px solid $dark-red;                                              
  border-bottom: 1px solid $grey-color-light;                                   
  min-height: 56px;                                                             
                                                                                
  // Positioning context for the mobile navigation icon                         
  position: relative;                                                           
}           

#head_img {
    display:block;
    position: relative;
    width: 100vw;
    height: 60vh;
    max-height: 720px;
    background: url("/assets/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
} 

#banner-strip {
    background-color: $light-brown;
    opacity: 0.9;
    bottom:0;
    left:0;
    position: absolute;
    width: 100%;
    height: 70px;
    overflow: hidden;
}


#banner-title {
    font-family:  Helvetica;
    color: $dark-red;
    font-size: 2.5em;
    line-height: 0;
    margin: 0;
    position: relative;
    text-align: center;
    top: 40%; //-51vh;
    white-space: nowrap;
}

#banner-subtitle {
    color: black;
    font-size: 1em;
    line-height: 0;
    margin: 0;
    position: relative;
    top: 75%;
    text-align: center;
    
    white-space: nowrap;
}

body {
    line-height: 1.6;
    font-size: 18px;
    color: #444;
}

@media screen and (max-width: 500px) {
    #banner-title {
        font-size: 1.5em;
        top: 40%; //-51vh;
    }

    #banner-subtitle {
        font-size: .6em;
        top: 75%;
    }
}

